@import "variables.less";

body {
  font-family: 'Roboto';
  box-sizing: border-box;
}

#nav-bar {
  width: 100%;
  background-color: @primary-colour;
  position: fixed;
  top: 0;
  height: 75px;
  h1 {
    margin: 0;
    line-height: 75px;
    color: @primary-text-color;
  }
  .logo {
    margin-left: 20px;
  }
}

#content {
  margin-top: 75px;
  width: 100%;
  float: left;
}

.editor {
  width: 70%;
  float: right;
}

.program {
  width: 30%;
  float: left;
  border-right: #000 solid thin;
  height: 100vh;
  margin-left: 20px;

  ul {
    list-style: none;
  }
}

.input {
  bottom: 0;
  position: absolute;
  width: 100%;

  input {
    height: 70px;
    width: 100%;
    font-size: 3em;
  }
}

#tor {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
}
