@import "variables.less";

body {
  font-family: 'Roboto';
  box-sizing: border-box;
}

#nav-bar {
  width: 100%;
  background-color: @primary-colour;
  position: fixed;
  top: 0;
  height: 40px;
  h1 {
    margin: 0;
    line-height: 40px;
    color: @primary-text-color;
  }
  .logo {
    float: left;
    margin-left: 20px;
  }
  .settings {
    float: right;
    margin: 2px;
    width: 38px;
    height: 38px;
    background: url('/img/settings.png') no-repeat;
    background-size: 35px 35px;
  }
}

#content {
  margin-top: 40px;
  width: 100%;
  float: left;
}

.editor {
  width: 70%;
  float: right;
}

.program {
  position: relative;
  width: 30%;
  float: left;
  border-right: #000 solid thin;
  height: 88vh;
  background: #000;
  color: #FFF;
  .title {
    float: left;
    margin-left: 20px;
  }
  ul {
    list-style: none;
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    width: 100%;
    li {
      padding-top: 10px;
      float: left;
      width: 92%;
      a.remove {
        float: right;
        width: 20px;
        height: 20px;
        background: url('/img/remove.png') no-repeat;
        background-size: 20px 20px;
      }
    }
  }
  a.run {
    float: right;
    margin: 20px 10px 0 0;
    width: 33px;
    height: 38px;
    background: url('/img/play.png') no-repeat;
    background-size: 30px 35px;
    cursor: pointer;
  }
  .feedback {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    float: left;
    color: #FF0000;
  }
}

.input {
  position: fixed;
  bottom: 0;
  top: auto;
  width: 100vw;
  display: block;

  input {
    height: 70px;
    width: 100%;
    font-size: 3em;
  }
}

.pad {
  background: url('/img/default-background.jpeg') no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  height: 100vh;
  width: 69vw;
  .add {
    float: left;
    margin: 20px 0px 0 13px;
    width: 38px;
    height: 38px;
    background: url('/img/add.png') no-repeat;
    background-size: 35px 35px;
    cursor: pointer;
  }
  li {
    list-style: none;
  }
  .selected-character {
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.3));
  }
  #delete-section {
    position: absolute;
    bottom: 116px;
    width: 100%;
    background: #FF0000;
    float: left;
    height: 13vh;
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
}

#select {
  position: absolute;
  z-index: 15;
  top: 12%;
  left: 10%;
  margin: 0 auto;
  width: 80%;
  height: 70%;
  background: #FFF;
  box-shadow: 2px 2px 47px -9px rgba(0,0,0,1);
  padding: 10px;

  .title {
    font-size: 3em;
    float: left;
    width: 85%;
  }

  li {
    list-style: none;
    img {
      cursor: pointer;
    }
  }

  .close {
    float: right;
    margin: 2px;
    width: 38px;
    height: 38px;
    background: url('/img/remove.png') no-repeat;
    background-size: 35px 35px;
    cursor: pointer;
  }
}
