doctype html
html(ng-app='creatorApp')
  head
    title="creator"
    include head.jade
  body(ng-controller='creatorController')
    #nav-bar
      .logo
        h1 creator
      //- .settings
    #content
      .program
        .title
          h2 program
        a(class='run' ng-click='run()')
        ul
          li(ng-repeat='instruction in instructions') {{ instruction }}
            a(class='remove' ng-click='remove($index)')
        .feedback(ng-bind='feedback')
      .pad
        a(class='add' ng-click='open()')
        img(id='tor' src='img/jumpy.png' data-drag='true' jqyoui-draggable)
      .input
        form(name='input' ng-submit='submit()')
          input(type='text' ng-model='text' placeholder='tell me what to do!')
          input(type='submit' id='submit' class='ng-hide')
      
          
