doctype html
html(ng-app='creatorApp')
  head
    title="creator"
    include head.jade
  body(ng-controller='creatorController')
    #nav-bar
      .logo
        h1 creator
      .settings
    #content
      .program
        .title
          h2 program
        a(class='run' ng-click='run()')
        ul
          li(ng-repeat='instruction in instructions')
            div {{ instruction }}
      .pad
        img(id='tor' src='img/jumpy.png')
      .input
        form(name='input' ng-submit='submit()')
          input(type='text' ng-model='text' placeholder='tell me what to do!')
          input(type='submit' id='submit' class='ng-hide')
      
          
