doctype html
html(ng-app='creatorApp')
  head
    title="creator"
    include head.jade
  body(ng-controller='creatorController')
    #nav-bar
      .logo
        h1 creator
    #content
      .program
        h2 program
        button(ng-click='run()') Run
        ul
          li(ng-repeat='instruction in instructions')
            div {{ instruction }}
        .input
          form(name='input' ng-submit='submit()')
            input(type='text' ng-model='text')
            input(type='submit' id='submit' class='ng-hide')
      .pad
        img(id='tor' src='../img/favicon.png')
      
          
